# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc

# Environment / secrets
.env
*.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
